<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

    <add key="webService" value="http://srsddevdb1.statrad.com/testws/api/"/>
    <!--
    <add key="webService" value="http://localhost/testws/api/"/>
      -->  
    <add key="sqlServer" value="Data Source=srsddevdb1.statrad.com;Initial Catalog=caseentry;Integrated Security=True;"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
</configuration>